<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário de Usuário</title>
</head>
<body>
  <h1>Digite seu nome</h1>
  <form method="POST" action="/user">
    <input type="text" name="nome" placeholder="Seu nome" required>
    <button type="submit">Enviar</button>
  </form>
</body>
</html>
